div.parallax {
    width: 100vw;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

div.parallax:after {
    background-image: url("https://picsum.photos/1920/1080?random");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    content: "";
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
    color: #00001a;
    -webkit-text-stroke: 0.1vw white;
    margin: 0;
}

p {
    line-height: 1.6;
}

div.content {
    display: grid;
    grid: auto / 1fr min(50ch, calc(100% - 64px)) 1fr;
    background-color: white;
    perspective: 2px;
    -webkit-perspective: 2px;
    padding: 2rem 0;
}

/* Tell all children of the grid to populate column 2 */
.content>* {
    grid-column: 2;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    -webkit-perspective: 1px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/* remove all horizontal and vertical scrolling from the page for the effect to work correctly */
html {
    overflow: hidden;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16pt;
}